@import "tailwindcss";
body {
  background-color: #212121;
  margin: 0;
  padding: 0;
  color: black; /* optional: to make text readable on dark bg */
  font-family: sans-serif; /* optional: modern font */
}